.kitchens {

  &__grid {
    @include adaptive-grid
  }

  .product-card {


    &__image {
      @include mobile-s-above {
        height: 250px;
        min-height: 250px;
        width: 350px;

      }

    }
  }

}