.burger-button {
  @include flex-center(true);
  @include square(44px);

  padding: 0;
  background-color: var(--color-white);
  border: none;

  @include hover {
    scale: 1.05;
    border-color: transparent;
    background-color: var(--color-black-04);
    border-radius: var(--border-radius);
  }

  &.is-active {

    .burger-button__line {

      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;

      &--2 {

        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
      }
    }
  }

  &:not(.is-active) {

    .burger-button__line--3 {
      stroke-dasharray: 30 207;
      stroke-dashoffset: -30;
    }

  }

  &__line {
    fill: none;
    stroke: var(--color-black-07);
    stroke-width: 6;
    stroke-linecap: round;
    stroke-dasharray: 60 207;
    transition: stroke-dasharray var(--transition-duration-longer) cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 0.4s cubic-bezier(0.4, 0, 0.2, 1);

    &--2 {
      stroke-dasharray: 60 60;
    }
  }

}
