.banner-card {
  position: relative;
  display: flex;
  justify-content: center;

  &:hover {
    filter: brightness(1.1);
    transition: filter 0.3s ease;
  }

  @include laptop {
    max-width: 100%;
  }

  &__image {
    width: 100%;
    max-height: 50vh;
    height: auto;
    object-fit: contain;
    transition-duration: var(--transition-duration-longer);

    @include laptop {
      max-height: 40vh;

    }
  }
}