.section {
  display: grid;
  row-gap: fluid(20, 10);
  padding-block: fluid(30, 15);

  scroll-margin-top: 80px;

  &__header {
    display: flex;
    justify-content: space-between;
    column-gap: 16px;
    align-items: center;
    position: relative;
    padding-bottom: 10px;

    ::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0%;

      width: 100%;
      height: 2px;
      border-radius: 2px;
      background: linear-gradient(90deg, var(--color-biege), transparent);

      @include tablet-above {
        width: 50%;
      }
    }

    @include mobile {
      flex-direction: column;
      align-items: start;
      row-gap: 20px;
    }

  }

  &__info {
    display: grid;
    row-gap: fluid-to-laptop(14, 10);
  }

  &__title {
    font-size: fluid(34, 27);
    font-weight: inherit;

    display: inline-block;
    padding: 2px 10px;
    max-width: fit-content;
    border-radius: 9999px;
    background-color: var(--color-gray-accent);
  }


  &__description {
    font-weight: 400;
    font-size: fluid(22, 18);
  }


}