.hero {

  &__slider-navigation {
    @include mobile {
      @include hide;
    }
  }

  .slider-item {
    transition: all 0.3s ease;

    :hover {
      position: relative;
      transform: scale(1.02);
      box-shadow: 0 18px 40px rgba(0, 0, 0, 0.45);
      filter: brightness(1.1);
      z-index: 1;

    }


    &-list {
      align-items: center;
      user-select: none;

    }


  }

}


