html {

  scrollbar-gutter: auto;
  

  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-black-07);
  background-color: var(--color-white);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {

  font-family: var(--font-family-accent);
  color: var(--color-black-07);
}

h1, .h1 {
  @include fluid-text(58, 28);
  font-weight: 500;
}

h2, .h2 {
  @include fluid-text(48, 24);
  font-weight: 500;
}

h3, .h3 {
  @include fluid-text(38, 20);
  font-weight: 500;
}

h4, .h4 {
  @include fluid-text(24, 18);
  font-weight: 500;
}

h5, .h5 {
  @include fluid-text(22, 18);
  font-weight: 500;
}

h6, .h6 {
  @include fluid-text(20, 16);
  font-weight: 500;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-black-04);

  @include hover {
    color: var(--color-biege);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  @include focus-visible
}

:has(.swiper) {
  min-width: 0;
}