.wardrobe-banner {
  user-select: none;


  .section__body {
    display: flex;
    justify-content: center;

  }

  .slider {
    @include mobile-above {
      max-width: 70vw;
    }

  }

  .swiper-3d {
    @include mobile-s-above {
      perspective: fluid(1400, 800);
    }

  }

  .slider-item {
    display: flex;
    justify-content: center;

  }

}