{% load static %}


<footer class="footer" id="contacts">
  <div class="footer__inner container">
    <div class="footer__menu">
      <div class="footer__menu-info">
        <a class="footer__logo logo" href="/" title="Home" aria-label="Home">
          <img class="logo__image" src={% static 'logo.svg' %} alt="" width="128" height="34" loading="lazy">
        </a>
        <p class="footer__gifts">Gift &amp; Decoration Store</p>
      </div>
      <div class="footer__menu-links">
        <a class="footer__menu-link" href="/">Главная</a>
        <a class="footer__menu-link" href="/#categories">Каталог</a>
        <a class="footer__menu-link" href="#benefits">О нас</a>
        <a class="footer__menu-link" href="#contacts">Контакты</a>
      </div>
    </div>
    <div class="footer__extra">
      <div class="footer__copyright">
        <p class="footer__copyright-text">Copyright © <time dateTime="2025">2025</time>CabinetAssembly. All rights reserved</p>
        <div class="footer__copyright-links">
          <a class="footer__copyright-link" href="/">Terms of Use</a>
          <a class="footer__copyright-link" href="/">Privacy Policy</a>
        </div>
      </div>
      <div class="footer__soc1als soc1als">
        <ul class="soc1als__list">
          <li class="soc1als__item">
            <a class="soc1als__link button" title="Instagram" arial-label="Instagram" href="/" target="_blank"><span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#instagram"></use>
                    </svg>
                  </span></a>
          </li>
          <li class="soc1als__item">
            <a class="soc1als__link button" title="Facebook" arial-label="Facebook" href="/" target="_blank"><span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#facebook"></use>
                    </svg>
                  </span></a>
          </li>
          <li class="soc1als__item">
            <a class="soc1als__link button" title="Youtube" arial-label="Youtube" href="/" target="_blank"><span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#youtube"></use>
                    </svg>
                  </span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<script src="/assets/js/favorites.js"></script>