.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  padding-block: fluid(18, 16);
  border-bottom: 1px solid transparent;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  @mixin scrolling-header-styles {
    padding-block: 10px;
    background-color: inherit;
    border-color: var(--color-black-15);
  }


  @keyframes scrolling-header {
    to {
      @include scrolling-header-styles;

    }
  }

  @supports (not (animation-timeline: scroll())) {
    @include scrolling-header-styles;

    position: sticky !important;
  }


  &.is-fixed {
    position: fixed;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    flex-direction: column-reverse;
    justify-content: start;
    row-gap: 16px;
    width: 100%;
    height: 100%;
    padding: var(--container-padding-x);
    background-color: var(--color-gray-03);
    border: none;
    transition-duration: var(--transition-duration);
    transition-behavior: allow-discrete;

    @include mobile-above {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 50%;
    }

    @include mobile {
      &[open] {
        display: flex;

        @starting-style {
          @include starting-styles;
        }
      }
    }


    &:not([open]) {
      @include starting-styles;
    }
  }

  &__menu {

    @include mobile {
      display: flex;

      justify-content: center;
      height: 100%;
      border-radius: 0;

    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: fluid(40, 20);

      @include mobile {
        flex-direction: column;
        row-gap: 16px;
        margin-block: auto;
      }

    }

    &-link {
      padding: fluid-to-laptop(10, 8) fluid-to-laptop(16, 14);
      color: var(--color-black-04);
      text-wrap: nowrap;

      @include mobile {
        font-size: 17px;
      }

      @include hover {
        scale: 1.02;
        color: var(--color-biege);
      }

      &.is-active {
        color: var(--color-black-07);
        pointer-events: none;
      }
    }

  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 10px;

  }

  &__burger-button {
    position: relative;
  }

}