{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="content">
      <section class="favorite-products section container" aria-labelledby="Избраннные" id="favorite-products">
        <header class="section__header">
          <div class="section__info">
            <h3 class="section__title h4" id="Избраннные">Избраннные</h3>
          </div>
        </header>
        <div class="section__body">
          <ul class="favorite-products__grid grid grid--4">
            {% for product in products %}
            <li class="grid__item">
              <article class="product-card">
                <a class="product-card__link" href="/product-info/{{ product.id }}">
                  <div class="product-card__image-wrapper">
                    <img src="{{ product.main_image }}" alt="{{ product.title }}" decoding="async" loading="lazy" class="product-card__image">
                  </div>
                  <div class="product-card__body">
                    <h3 class="product-card__title h4">{{ product.title }}</h3>
                    <div class="product-card__description">
                      <p>{{ product.description|truncatewords:20 }}</p>
                    </div>
                  </div>
                </a>
                <button
                  class="product-card__like-button button {% if product.id in liked_products_ids %}is-liked{% endif %}"
                  data-product-id="{{ product.id }}"
                  title="Like"
                  aria-label="Like"
                  type="button">
                  <span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#heart1"></use>
                    </svg>
                  </span></button>
              </article>
            </li>
         {% endfor%}
          </ul>
        </div>
      </section>
    </main>
{% endblock %}