{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabinet Assembly | hallways</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <script src="/assets/main.js" type="module"></script>
    <link rel="stylesheet" href="/assets/bundle.css">
  </head>
  <body>
    <header class="header" data-js-overlay-menu="">
      <div class="header__inner container">
        <a class="header__logo logo" href="/" title="Home" aria-label="Home">
          <img class="logo__image" src="{% static 'logo.svg' %}" alt="" width="128" height="34" loading="eager">
        </a>
        <dialog class="header__overlay-menu-dialog" data-js-overlay-menu-dialog="">
          <nav class="header__menu">
            <ul class="header__menu-list">
              <li class="header__menu-item">
                <a class="header__menu-link" href="/">Главная</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="/#categories">Каталог</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#benefits">О нас</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="#contacts">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="header__actions">
            <button class="header__button button button--transparent" title="Search" arial-label="Search" type="button"><span class="button__icon icon">
                <svg fill="none" stroke="currentColor">
                  <use href="/assets/images/icons.svg#search"></use>
                </svg>
              </span></button>
            <a class="header__button button button--transparent" title="Favorites" arial-label="Favorites" href="/favorites"><span class="button__icon icon">
                <svg fill="none" stroke="currentColor">
                  <use href="/assets/images/icons.svg#account"></use>
                </svg>
              </span></a>
          </div>
        </dialog>
        <button class="header__burger-button visible-mobile burger-button" type="button" aria-label="Open menu" title="Open menu" data-js-overlay-menu-burger-button="">
          <svg class="burger-button__svg" width="30" height="30" viewBox="0 0 100 100">
            <path class="burger-button__line burger-button__line--1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"></path>
            <path class="burger-button__line burger-button__line--2" d="M 20,50 H 80"></path>
            <path class="burger-button__line burger-button__line--3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"></path>
          </svg>
        </button>
      </div>
    </header>
    <main class="content">
      <section class="hallway-banner section container" aria-labelledby="hallway-banner-title">
        <div class="section__body">
          <h1 class="visually-hidden" id="hallway-banner-title">Hallways</h1>
          <div class="slider" data-js-slider="{&quot;sliderParams&quot;:{&quot;centeredSlides&quot;:true,&quot;slidesPerView&quot;:2,&quot;spaceBetween&quot;:40,&quot;effect&quot;:&quot;coverflow&quot;,&quot;coverflowEffect&quot;:{&quot;rotate&quot;:50,&quot;stretch&quot;:0,&quot;depth&quot;:200,&quot;modifier&quot;:1,&quot;slideShadows&quot;:false}},&quot;navigationTargetElementId&quot;:null}">
            <div class="slider__swiper swiper" data-js-slider-swiper="">
              <ul class="slider-list swiper-wrapper">
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe1-320x426.jpg 320w, /assets/images/wardrobe1-400x532.jpg 400w, /assets/images/wardrobe1-640x851.jpg 640w, /assets/images/wardrobe1-800x1064.jpg 800w, /assets/images/wardrobe1-1024x1362.jpg 1024w, /assets/images/wardrobe1-1280x1702.jpg 1280w, /assets/images/wardrobe1-1440x1915.jpg 1440w, /assets/images/wardrobe1-1920x2560.jpg 1920w" src="/assets/images/wardrobe1-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe2-320x426.jpg 320w, /assets/images/wardrobe2-400x532.jpg 400w, /assets/images/wardrobe2-640x851.jpg 640w, /assets/images/wardrobe2-800x1064.jpg 800w, /assets/images/wardrobe2-1024x1362.jpg 1024w, /assets/images/wardrobe2-1280x1702.jpg 1280w, /assets/images/wardrobe2-1440x1915.jpg 1440w, /assets/images/wardrobe2-1920x2560.jpg 1920w" src="/assets/images/wardrobe2-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe3-320x426.jpg 320w, /assets/images/wardrobe3-400x532.jpg 400w, /assets/images/wardrobe3-640x851.jpg 640w, /assets/images/wardrobe3-800x1064.jpg 800w, /assets/images/wardrobe3-1024x1362.jpg 1024w, /assets/images/wardrobe3-1280x1702.jpg 1280w, /assets/images/wardrobe3-1440x1915.jpg 1440w, /assets/images/wardrobe3-1920x2554.jpg 1920w, /assets/images/wardrobe3-1924x2560.jpg 1924w" src="/assets/images/wardrobe3-1924x2560.jpg" sizes="(min-width: 1924px) 1924px, 100vw" width="1924" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe4-320x426.jpg 320w, /assets/images/wardrobe4-400x532.jpg 400w, /assets/images/wardrobe4-640x851.jpg 640w, /assets/images/wardrobe4-800x1064.jpg 800w, /assets/images/wardrobe4-1024x1362.jpg 1024w, /assets/images/wardrobe4-1280x1702.jpg 1280w, /assets/images/wardrobe4-1440x1915.jpg 1440w, /assets/images/wardrobe4-1920x2560.jpg 1920w" src="/assets/images/wardrobe4-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe5-320x426.jpg 320w, /assets/images/wardrobe5-400x532.jpg 400w, /assets/images/wardrobe5-640x851.jpg 640w, /assets/images/wardrobe5-800x1064.jpg 800w, /assets/images/wardrobe5-1024x1362.jpg 1024w, /assets/images/wardrobe5-1280x1702.jpg 1280w, /assets/images/wardrobe5-1440x1915.jpg 1440w, /assets/images/wardrobe5-1920x2560.jpg 1920w" src="/assets/images/wardrobe5-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe6-320x426.jpg 320w, /assets/images/wardrobe6-400x532.jpg 400w, /assets/images/wardrobe6-640x851.jpg 640w, /assets/images/wardrobe6-800x1064.jpg 800w, /assets/images/wardrobe6-1024x1362.jpg 1024w, /assets/images/wardrobe6-1280x1702.jpg 1280w, /assets/images/wardrobe6-1440x1915.jpg 1440w, /assets/images/wardrobe6-1920x2560.jpg 1920w" src="/assets/images/wardrobe6-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe7-320x426.jpg 320w, /assets/images/wardrobe7-400x532.jpg 400w, /assets/images/wardrobe7-640x851.jpg 640w, /assets/images/wardrobe7-800x1064.jpg 800w, /assets/images/wardrobe7-1024x1362.jpg 1024w, /assets/images/wardrobe7-1280x1702.jpg 1280w, /assets/images/wardrobe7-1440x1915.jpg 1440w, /assets/images/wardrobe7-1920x2554.jpg 1920w, /assets/images/wardrobe7-1924x2560.jpg 1924w" src="/assets/images/wardrobe7-1924x2560.jpg" sizes="(min-width: 1924px) 1924px, 100vw" width="1924" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe8-320x426.jpg 320w, /assets/images/wardrobe8-400x532.jpg 400w, /assets/images/wardrobe8-640x851.jpg 640w, /assets/images/wardrobe8-800x1064.jpg 800w, /assets/images/wardrobe8-1024x1362.jpg 1024w, /assets/images/wardrobe8-1280x1702.jpg 1280w, /assets/images/wardrobe8-1440x1915.jpg 1440w, /assets/images/wardrobe8-1920x2560.jpg 1920w" src="/assets/images/wardrobe8-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe9-320x426.jpg 320w, /assets/images/wardrobe9-400x532.jpg 400w, /assets/images/wardrobe9-640x851.jpg 640w, /assets/images/wardrobe9-800x1064.jpg 800w, /assets/images/wardrobe9-1024x1362.jpg 1024w, /assets/images/wardrobe9-1280x1702.jpg 1280w, /assets/images/wardrobe9-1440x1915.jpg 1440w, /assets/images/wardrobe9-1920x2560.jpg 1920w" src="/assets/images/wardrobe9-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="hallway banner-card">
                    <h2 class="visually-hidden">wardrobe1</h2>
                    <img srcset="/assets/images/wardrobe10-320x426.jpg 320w, /assets/images/wardrobe10-400x532.jpg 400w, /assets/images/wardrobe10-640x851.jpg 640w, /assets/images/wardrobe10-800x1064.jpg 800w, /assets/images/wardrobe10-1024x1362.jpg 1024w, /assets/images/wardrobe10-1280x1702.jpg 1280w, /assets/images/wardrobe10-1440x1915.jpg 1440w, /assets/images/wardrobe10-1920x2560.jpg 1920w" src="/assets/images/wardrobe10-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="hallway banner-card__image">
                  </a>
                </li>
              </ul>
              <div class="slider-navigation visually-hidden" data-js-slider-navigation="">
                <button class="slider-navigation__arrow-button slider-navigation__arrow-button--previous button button--white" title="Previous slide" arial-label="Previous slide" type="button" data-js-slider-previous-button=""><span class="button__icon icon">
                    <svg fill="none" stroke="currentColor">
                      <use href="/assets/images/icons.svg#arrow-left"></use>
                    </svg>
                  </span></button>
                <div class="slider-navigation__pagination" data-js-slider-pagination=""></div>
                <button class="slider-navigation__arrow-button slider-navigation__arrow-button-next button button--white" title="Next slide" arial-label="Next slide" type="button" data-js-slider-next-button=""><span class="button__icon icon">
                    <svg fill="none" stroke="currentColor">
                      <use href="/assets/images/icons.svg#arrow-right"></use>
                    </svg>
                  </span></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="hallways section container" aria-labelledby="Прихожки" id="hallways">
        <header class="section__header">
          <div class="section__info">
            <h3 class="section__title h4" id="Прихожки">Прихожки</h3>
          </div>
        </header>
        <div class="section__body">
          <ul class="hallways__grid grid grid--4">
            {% for product in products %}

            <li class="grid__item">
              <article class="product-card">
                <a class="product-card__link" href="/product-info/{{ product.id }}">
                  <div class="product-card__image-wrapper">
                    <img src="{{ product.main_image }}" alt="{{ product.title }}" decoding="async" loading="lazy" class="product-card__image">
                  </div>
                  <div class="product-card__body">
                    <h3 class="product-card__title h4">{{ product.title }}</h3>
                    <div class="product-card__description">
                      <p>{{ product.description|truncatewords:20 }}</p>

                    </div>
                  </div>
                </a>
                <button
                        class="product-card__like-button button {% if product.id in liked_products_ids %}is-liked{% endif %}"
                        data-product-id="{{ product.id }}"
                        title="Like"
                        aria-label="Like"
                        type="button">
                  <span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#heart1"></use>
                    </svg>
                  </span></button>
              </article>
            </li>
            {% endfor %}
          </ul>
        </div>
      </section>
    </main>
    <footer class="footer" id="contacts">
      <div class="footer__inner container">
        <div class="footer__menu">
          <div class="footer__menu-info">
            <a class="footer__logo logo" href="/" title="Home" aria-label="Home">
              <img class="logo__image" src={% static 'logo.svg' %} alt="" width="128" height="34" loading="lazy">
            </a>
            <p class="footer__gifts">Gift &amp; Decoration Store</p>
          </div>
          <div class="footer__menu-links">
            <a class="footer__menu-link" href="/">Главная</a>
            <a class="footer__menu-link" href="/#categories">Каталог</a>
            <a class="footer__menu-link" href="#benefits">О нас</a>
            <a class="footer__menu-link" href="#contacts">Контакты</a>
          </div>
        </div>
        <div class="footer__extra">
          <div class="footer__copyright">
            <p class="footer__copyright-text">Copyright © <time dateTime="2025">2025</time>CabinetAssembly. All rights reserved</p>
            <div class="footer__copyright-links">
              <a class="footer__copyright-link" href="/">Terms of Use</a>
              <a class="footer__copyright-link" href="/">Privacy Policy</a>
            </div>
          </div>
          <div class="footer__soc1als soc1als">
            <ul class="soc1als__list">
              <li class="soc1als__item">
                <a class="soc1als__link button" title="Instagram" arial-label="Instagram" href="/" target="_blank"><span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#instagram"></use>
                    </svg>
                  </span></a>
              </li>
              <li class="soc1als__item">
                <a class="soc1als__link button" title="Facebook" arial-label="Facebook" href="/" target="_blank"><span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#facebook"></use>
                    </svg>
                  </span></a>
              </li>
              <li class="soc1als__item">
                <a class="soc1als__link button" title="Youtube" arial-label="Youtube" href="/" target="_blank"><span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#youtube"></use>
                    </svg>
                  </span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="/assets/js/favorites.js"></script>
  </body>
</html>