{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main class="content">
      <section class="kitchens-banner section container" aria-labelledby="kitchens-banner-title">
        <div class="section__body">
          <h1 class="visually-hidden" id="kitchens-banner-title">Kitchens</h1>
          <div class="slider" data-js-slider="{&quot;sliderParams&quot;:{&quot;centeredSlides&quot;:true,&quot;slidesPerView&quot;:1,&quot;spaceBetween&quot;:40,&quot;effect&quot;:&quot;coverflow&quot;,&quot;coverflowEffect&quot;:{&quot;rotate&quot;:50,&quot;stretch&quot;:0,&quot;depth&quot;:200,&quot;modifier&quot;:1,&quot;slideShadows&quot;:false},&quot;breakpoints&quot;:{&quot;600&quot;:{&quot;slidesPerView&quot;:2,&quot;centeredSlides&quot;:true}}},&quot;navigationTargetElementId&quot;:null}">
            <div class="slider__swiper swiper" data-js-slider-swiper="">
              <ul class="slider-list swiper-wrapper">
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen1</h2>
                    <img srcset="/assets/images/kitchen1-320x240.jpg 320w, /assets/images/kitchen1-400x300.jpg 400w, /assets/images/kitchen1-640x480.jpg 640w, /assets/images/kitchen1-800x600.jpg 800w, /assets/images/kitchen1-1024x768.jpg 1024w, /assets/images/kitchen1-1280x960.jpg 1280w, /assets/images/kitchen1-1440x1080.jpg 1440w, /assets/images/kitchen1-1920x1440.jpg 1920w, /assets/images/kitchen1-2560x1920.jpg 2560w" src="/assets/images/kitchen1-2560x1920.jpg" sizes="(min-width: 2560px) 2560px, 100vw" width="2560" height="1920" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen2</h2>
                    <img srcset="/assets/images/kitchen2-320x333.jpg 320w, /assets/images/kitchen2-400x416.jpg 400w, /assets/images/kitchen2-640x666.jpg 640w, /assets/images/kitchen2-800x832.jpg 800w, /assets/images/kitchen2-1024x1065.jpg 1024w, /assets/images/kitchen2-1280x1331.jpg 1280w, /assets/images/kitchen2-1440x1498.jpg 1440w, /assets/images/kitchen2-1879x1949.jpg 1879w" src="/assets/images/kitchen2-1879x1949.jpg" sizes="(min-width: 1879px) 1879px, 100vw" width="1879" height="1949" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen3</h2>
                    <img srcset="/assets/images/kitchen3-320x240.jpg 320w, /assets/images/kitchen3-400x300.jpg 400w, /assets/images/kitchen3-640x480.jpg 640w, /assets/images/kitchen3-800x600.jpg 800w, /assets/images/kitchen3-1024x768.jpg 1024w, /assets/images/kitchen3-1280x960.jpg 1280w, /assets/images/kitchen3-1440x1080.jpg 1440w, /assets/images/kitchen3-1920x1440.jpg 1920w, /assets/images/kitchen3-2560x1920.jpg 2560w" src="/assets/images/kitchen3-2560x1920.jpg" sizes="(min-width: 2560px) 2560px, 100vw" width="2560" height="1920" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen4</h2>
                    <img srcset="/assets/images/kitchen4-320x240.jpg 320w, /assets/images/kitchen4-400x300.jpg 400w, /assets/images/kitchen4-640x480.jpg 640w, /assets/images/kitchen4-800x600.jpg 800w, /assets/images/kitchen4-1024x768.jpg 1024w, /assets/images/kitchen4-1280x960.jpg 1280w, /assets/images/kitchen4-1440x1080.jpg 1440w, /assets/images/kitchen4-1920x1440.jpg 1920w, /assets/images/kitchen4-2560x1920.jpg 2560w" src="/assets/images/kitchen4-2560x1920.jpg" sizes="(min-width: 2560px) 2560px, 100vw" width="2560" height="1920" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen5</h2>
                    <img srcset="/assets/images/kitchen5-320x240.jpg 320w, /assets/images/kitchen5-400x300.jpg 400w, /assets/images/kitchen5-640x480.jpg 640w, /assets/images/kitchen5-800x600.jpg 800w, /assets/images/kitchen5-1024x768.jpg 1024w, /assets/images/kitchen5-1280x960.jpg 1280w, /assets/images/kitchen5-1440x1080.jpg 1440w, /assets/images/kitchen5-1920x1440.jpg 1920w, /assets/images/kitchen5-2560x1920.jpg 2560w" src="/assets/images/kitchen5-2560x1920.jpg" sizes="(min-width: 2560px) 2560px, 100vw" width="2560" height="1920" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen6</h2>
                    <img srcset="/assets/images/kitchen6-320x262.jpg 320w, /assets/images/kitchen6-400x328.jpg 400w, /assets/images/kitchen6-640x525.jpg 640w, /assets/images/kitchen6-800x656.jpg 800w, /assets/images/kitchen6-1024x840.jpg 1024w, /assets/images/kitchen6-1280x1050.jpg 1280w, /assets/images/kitchen6-1440x1181.jpg 1440w, /assets/images/kitchen6-1920x1574.jpg 1920w, /assets/images/kitchen6-2560x2099.jpg 2560w, /assets/images/kitchen6-2712x2229.jpg 2712w" src="/assets/images/kitchen6-2712x2229.jpg" sizes="(min-width: 2712px) 2712px, 100vw" width="2712" height="2229" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen7</h2>
                    <img srcset="/assets/images/kitchen7-320x426.jpg 320w, /assets/images/kitchen7-400x532.jpg 400w, /assets/images/kitchen7-640x851.jpg 640w, /assets/images/kitchen7-800x1064.jpg 800w, /assets/images/kitchen7-1024x1362.jpg 1024w, /assets/images/kitchen7-1280x1702.jpg 1280w, /assets/images/kitchen7-1440x1915.jpg 1440w, /assets/images/kitchen7-1920x2560.jpg 1920w" src="/assets/images/kitchen7-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen8</h2>
                    <img srcset="/assets/images/kitchen8-320x240.jpg 320w, /assets/images/kitchen8-400x300.jpg 400w, /assets/images/kitchen8-640x480.jpg 640w, /assets/images/kitchen8-800x600.jpg 800w, /assets/images/kitchen8-1024x768.jpg 1024w, /assets/images/kitchen8-1280x960.jpg 1280w, /assets/images/kitchen8-1440x1080.jpg 1440w, /assets/images/kitchen8-1920x1440.jpg 1920w, /assets/images/kitchen8-2560x1920.jpg 2560w" src="/assets/images/kitchen8-2560x1920.jpg" sizes="(min-width: 2560px) 2560px, 100vw" width="2560" height="1920" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen9</h2>
                    <img srcset="/assets/images/kitchen9-320x240.jpg 320w, /assets/images/kitchen9-400x300.jpg 400w, /assets/images/kitchen9-640x480.jpg 640w, /assets/images/kitchen9-800x600.jpg 800w, /assets/images/kitchen9-1024x768.jpg 1024w, /assets/images/kitchen9-1280x960.jpg 1280w, /assets/images/kitchen9-1440x1080.jpg 1440w, /assets/images/kitchen9-1920x1440.jpg 1920w, /assets/images/kitchen9-2560x1920.jpg 2560w" src="/assets/images/kitchen9-2560x1920.jpg" sizes="(min-width: 2560px) 2560px, 100vw" width="2560" height="1920" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen7</h2>
                    <img srcset="/assets/images/kitchen7-320x426.jpg 320w, /assets/images/kitchen7-400x532.jpg 400w, /assets/images/kitchen7-640x851.jpg 640w, /assets/images/kitchen7-800x1064.jpg 800w, /assets/images/kitchen7-1024x1362.jpg 1024w, /assets/images/kitchen7-1280x1702.jpg 1280w, /assets/images/kitchen7-1440x1915.jpg 1440w, /assets/images/kitchen7-1920x2560.jpg 1920w" src="/assets/images/kitchen7-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen7</h2>
                    <img srcset="/assets/images/kitchen7-320x426.jpg 320w, /assets/images/kitchen7-400x532.jpg 400w, /assets/images/kitchen7-640x851.jpg 640w, /assets/images/kitchen7-800x1064.jpg 800w, /assets/images/kitchen7-1024x1362.jpg 1024w, /assets/images/kitchen7-1280x1702.jpg 1280w, /assets/images/kitchen7-1440x1915.jpg 1440w, /assets/images/kitchen7-1920x2560.jpg 1920w" src="/assets/images/kitchen7-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
                <li class="slider-item swiper-slide">
                  <a class="kitchens-banner banner-card">
                    <h2 class="visually-hidden">kitchen7</h2>
                    <img srcset="/assets/images/kitchen7-320x426.jpg 320w, /assets/images/kitchen7-400x532.jpg 400w, /assets/images/kitchen7-640x851.jpg 640w, /assets/images/kitchen7-800x1064.jpg 800w, /assets/images/kitchen7-1024x1362.jpg 1024w, /assets/images/kitchen7-1280x1702.jpg 1280w, /assets/images/kitchen7-1440x1915.jpg 1440w, /assets/images/kitchen7-1920x2560.jpg 1920w" src="/assets/images/kitchen7-1920x2560.jpg" sizes="(min-width: 1920px) 1920px, 100vw" width="1920" height="2560" alt decoding="async" loading="lazy" class="kitchens-banner banner-card__image">
                  </a>
                </li>
              </ul>
              <div class="kitchens-banner__slider-navigation slider-navigation slider-navigation--round" id="kitchens-banner-slider-navigation" data-js-slider-navigation="">
                <button class="slider-navigation__arrow-button slider-navigation__arrow-button--previous button button--white" title="Previous slide" arial-label="Previous slide" type="button" data-js-slider-previous-button=""><span class="button__icon icon">
                    <svg fill="none" stroke="currentColor">
                      <use href="/assets/images/icons.svg#arrow-left"></use>
                    </svg>
                  </span></button>
                <div class="slider-navigation__pagination" data-js-slider-pagination=""></div>
                <button class="slider-navigation__arrow-button slider-navigation__arrow-button-next button button--white" title="Next slide" arial-label="Next slide" type="button" data-js-slider-next-button=""><span class="button__icon icon">
                    <svg fill="none" stroke="currentColor">
                      <use href="/assets/images/icons.svg#arrow-right"></use>
                    </svg>
                  </span></button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="kitchens section container" aria-labelledby="Кухни" id="kitchens">
        <header class="section__header">
          <div class="section__info">
            <h3 class="section__title h4" id="Кухни">Кухни</h3>
            <div class="section__description">
              <p>Кухни на любой вкус</p>
            </div>
          </div>
        </header>
        <div class="section__body">
          <ul class="kitchens__grid grid grid--4">
            {% for product in products %}
            <li class="grid__item">
              <article class="product-card">
                <a class="product-card__link" href="/product-info/{{ product.id }}">
                  <div class="product-card__image-wrapper">
                    <img src="{{ product.main_image }}" alt="{{ product.title }}" decoding="async" loading="lazy" class="product-card__image">
                  </div>
                  <div class="product-card__body">
                    <h3 class="product-card__title h4">{{ product.title }}</h3>
                    <div class="product-card__description">
                      <p>{{ product.description|truncatewords:20 }}</p>
                    </div>
                  </div>
                </a>
                <button
                  class="product-card__like-button button {% if product.id in liked_products_ids %}is-liked{% endif %}"
                  data-product-id="{{ product.id }}"
                  title="Like"
                  aria-label="Like"
                  type="button">
                  <span class="button__icon icon">
                    <svg fill="currentColor" stroke="none">
                      <use href="/assets/images/icons.svg#heart1"></use>
                    </svg>
                  </span></button>
              </article>
            </li>
{% endfor %}
          </ul>
        </div>
      </section>
    </main>

{% endblock %}